$color-bg: #1e1a20;
$color-bg-dark: darken($color-bg, 4%);
$color-bg-light: lighten($color-bg, 4%);
$color-fg: #f6f6f6;
$color-fg-link: #84b2d8;
$color-btn: #71afff;

html {
  height: 100%;

  body {
    display: flex;
    min-height: 100%;
    flex-flow: column nowrap;
    margin: 0;
    background-color: $color-bg;
    color: $color-fg;
    font-family: 'Open Sans', sans-serif;
  }
}

header {
  nav {
    background-color: $color-bg-dark;
    font-size: 2em;

    a, a:hover, a:focus, a:visited {
      color: $color-fg;
      margin-left: 0.25em;
    }
  }
}

main {
  flex-grow: 1;

  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-parallel {
    margin-top: 6em;
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      img {
        border-radius: 50%;
        width: 15em;
        height: 15em;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      margin-left: 2em;
    }
  }
}

footer {
  background-color: $color-bg-dark;
  padding: 0.25em;
  text-align: center;
}

a {
  text-decoration: none;
  color: $color-fg-link;
}

.btn {
  min-width: 7em;
  padding: 0.25em;
  border-radius: 0.5em;
  background-color: $color-btn;
  border-style: none;
}

.btn:hover {
  background-color: lighten($color-btn, 4%);
}

.btn:active {
  background-color: darken($color-btn, 4%);
}

.btn-large {
  font-size: 2em;
}

.mt-1 {
  margin-top: 1em;
}
