$color-bg: #1e1a20;
$color-bg-dark: darken($color-bg, 4%);
$color-bg-light: lighten($color-bg, 4%);
$color-fg: #f6f6f6;
$color-fg-link: #84b2d8;
$color-btn: #71afff;

html {
  height: 100%;

  body {
    display: flex;
    min-height: 100%;
    flex-flow: column nowrap;
    margin: 0;
    background-color: $color-bg;
    color: $color-fg;
    font-family: 'Open Sans', sans-serif;
  }
}

header {
  nav {
    background-color: $color-bg-dark;
    font-size: 2em;

    a, a:hover, a:focus, a:visited {
      color: $color-fg;
      margin-left: 0.25em;
    }
  }
}

main {
  flex-grow: 1;

  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-parallel {
    margin-top: 6em;
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      img {
        border-radius: 50%;
        width: 15em;
        height: 15em;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      margin-left: 2em;
    }
  }

  .guilds {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;

    .guild {
      background-color: $color-bg-light;
      width: 12em;
      min-height: 16em;
      border-radius: 0.5em;
      margin: 0.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      word-wrap: break-word;

      p {
        max-width: 10em;
      }

      img {
        width: 8em;
        height: 8em;
        margin-top: 1em;
        border-radius: 50%;
      }

      button {
        border-radius: 0.5em;
        padding: 0.5em;
        width: 10em;
        border-style: none;
        background-color: lighten($color-bg-light, 8%);
        color: #f6f6f6;
      }

      button:hover {
        background-color: lighten($color-bg-light, 4%);
      }
    }
  }

  .config {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: 0.5em;
      border-radius: 0.5em;
      padding: 0.5em;
      width: 10em;
      border-style: none;
      background-color: lighten($color-bg-light, 8%);
      color: #f6f6f6;
    }

    button:hover {
      background-color: lighten($color-bg-light, 4%);
    }

    .editor {
      padding: 0.5em;
      border-radius: 0.5em;
      border: 1px solid grey;
      background-color: #1e1e1e;
      margin-top: 2em;

      #container {
        width:90em;
        height:45em;
      }
    }
  }
}

footer {
  background-color: $color-bg-dark;
  padding: 0.25em;
  text-align: center;
}

a {
  text-decoration: none;
  color: $color-fg-link;
}

.btn {
  min-width: 7em;
  padding: 0.25em;
  border-radius: 0.5em;
  background-color: $color-btn;
  border-style: none;
}

.btn:hover {
  background-color: lighten($color-btn, 4%);
}

.btn:active {
  background-color: darken($color-btn, 4%);
}

.btn-large {
  font-size: 2em;
}

.mt-1 {
  margin-top: 1em;
}
