<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <script src="/static/js/base.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <title>{% block title %}{% endblock %} - {{ site.name }}</title>
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <a href="/guilds">{{ site.name }}</a>
      {% block pre %}{% endblock %}<span class="special">{% block navtitle %}{% endblock %}</span>{% block post %}{% endblock %}
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    Designed and created by <a href="https://github.com/vcokltfre">vcokltfre</a>. Licensed under the MIT License.
  </footer>
</body>
</html>
