{% extends "_base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="config">
  <div class="content">
    <div class="editor">
      <div id="container"></div>
    </div>
    <button type="button" onclick="save()">Save</button>
  </div>

  <script src="/static/monaco/min/vs/loader.js"></script>
  <script>
    const guild = "{{ guild.id }}";

    require.config({ paths: { 'vs': '/static/monaco/min/vs' }});
    require(['vs/editor/editor.main'], function() {
      fetch(`/api/guilds/${guild}/config`).then(response => {
        if (response.status === 200) {
          response.json().then(data => {
            const value = data.value;

            window.editor = monaco.editor.create(document.getElementById('container'), {
              value: value,
              language: "yaml",
              theme: "vs-dark",
              tabSize: 2
            });
          })
        } else {
          alert("Failed to load config value.");
        }
      })
    });

    function save() {
      post(`/api/guilds/${guild}/config`, {
        value: window.editor.getValue()
      });
    }
  </script>
</div>
{% endblock %}
