{% extends "_base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="config">
  <div class="content">
    <div class="editor">
      <div id="container"></div>
    </div>
    <button type="button" onclick="save()">Save</button>
  </div>

  <script src="/static/monaco/min/vs/loader.js"></script>
  <script>
    const guild = "{{ guild.id }}";

    function get() {
      fetch(`/guilds/${guild}/config/raw`).then(response => {
        if (response.status === 200) {
          response.json().then(data => {
            return data.value;
          })
        }
        alert("Couldn't load the config value.");
      })
    }

    require.config({ paths: { 'vs': '/static/monaco/min/vs' }});
    require(['vs/editor/editor.main'], function() {
      window.editor = monaco.editor.create(document.getElementById('container'), {
        value: get(),
        language: "yaml",
        theme: "vs-dark",
        tabSize: 2
      });
    });

    function save() {
      post(`/guilds/${guild}/config`, {
        "value": window.editor.getValue
      });
    }
  </script>
</div>
{% endblock %}
